# flake8 fileconfig

# Doc: http://flake8.pycqa.org/en/latest/user/configuration.html
# Required: https://github.com/snoack/flake8-per-file-ignores

[flake8]
per-file-ignores =
    __init__.py: X100,F401,H306
    __manifest__.py: D100
